<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylpu.thales.scheduler.dao.SchedulerJobInstanceMapper" >
  <resultMap id="BaseResultMap" type="com.ylpu.thales.scheduler.entity.SchedulerJobInstance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="task_state" property="taskState" jdbcType="TINYINT" />
    <result column="log_url" property="logUrl" jdbcType="VARCHAR" />
    <result column="log_path" property="logPath" jdbcType="VARCHAR" />
    <result column="worker" property="worker" jdbcType="VARCHAR" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="creator_email" property="creatorEmail" jdbcType="VARCHAR" />
    <result column="retry_times" property="retryTimes" jdbcType="TINYINT" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="applicationId" property="applicationid" jdbcType="VARCHAR" />
    <result column="elapse_time" property="elapseTime" jdbcType="INTEGER" />
    <result column="schedule_time" property="scheduleTime" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="jobInstanceStateMap" type="com.ylpu.thales.scheduler.entity.JobInstanceState" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="task_state" property="taskState" jdbcType="TINYINT" />
    <result column="schedule_time" property="scheduleTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, job_id, task_state, log_url, log_path, worker, creator_name, creator_email, retry_times, 
    pid, applicationId, elapse_time, create_time, update_time,schedule_time,start_time,end_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_thales_scheduler_job_instance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id = "getRunningJobCount" resultType="java.util.HashMap">
      select worker,count(*) as cnt from t_thales_scheduler_job_instance  where task_state = 4 group by worker;
  </select>
  
  <select id = "getInstanceIdByTime" resultType="java.lang.Integer">
      select id from t_thales_scheduler_job_instance  where job_id = #{jobId,jdbcType=INTEGER} and schedule_time = #{scheduleTime,jdbcType=VARCHAR};
  </select>
  
    <select id="findAll" resultMap="BaseResultMap">
        select * from t_thales_scheduler_job_instance where 1=1
            <if test="taskState != null and taskState != ''">
                and task_state = #{taskState}
            </if>
            <if test="worker != null and worker != ''">
                and worker like concat(concat('%',#{worker}),'%')
            </if>
        ORDER BY create_time DESC
    </select>
    
  <select id = "getAllJobStatus" resultMap="jobInstanceStateMap">
      select id,job_id,task_state,schedule_time from t_thales_scheduler_job_instance where schedule_time is not null and schedule_time &gt; #{startTime,jdbcType=TIMESTAMP} and schedule_time &lt; #{endTime,jdbcType=TIMESTAMP}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_thales_scheduler_job_instance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ylpu.thales.scheduler.entity.SchedulerJobInstance" >
    insert into t_thales_scheduler_job_instance (id, job_id, task_state, 
      log_url,log_path, worker,creator_name, 
      creator_email, retry_times, pid, 
      applicationId, elapse_time, schedule_time,start_time,end_time,create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{jobId,jdbcType=INTEGER}, #{taskState,jdbcType=TINYINT}, 
      #{logUrl,jdbcType=VARCHAR}, #{logPath,jdbcType=VARCHAR}, #{worker,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, 
      #{creatorEmail,jdbcType=VARCHAR}, #{retryTimes,jdbcType=TINYINT}, #{pid,jdbcType=INTEGER}, 
      #{applicationid,jdbcType=VARCHAR},#{elapseTime,jdbcType=INTEGER},#{scheduleTime,jdbcType=TIMESTAMP},#{startTime,jdbcType=TIMESTAMP},
      #{endTime,jdbcType=TIMESTAMP},#{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ylpu.thales.scheduler.entity.SchedulerJobInstance" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into t_thales_scheduler_job_instance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="taskState != null" >
        task_state,
      </if>
      <if test="logUrl != null" >
        log_url,
      </if>
      <if test="logPath != null" >
        log_path,
      </if>
      <if test="worker != null" >
        worker,
      </if>
      <if test="creatorName != null" >
        creator_name,
      </if>
      <if test="creatorEmail != null" >
        creator_email,
      </if>
      <if test="retryTimes != null" >
        retry_times,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="applicationid != null" >
        applicationId,
      </if>
      <if test="elapseTime != null" >
        elapse_time,
      </if>
      <if test="scheduleTime != null" >
        schedule_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobId != null" >
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="taskState != null" >
        #{taskState,jdbcType=TINYINT},
      </if>
      <if test="logUrl != null" >
        #{logUrl,jdbcType=VARCHAR},
      </if>
      <if test="logPath != null" >
        #{logPath,jdbcType=VARCHAR},
      </if>
      <if test="worker != null" >
        #{worker,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="creatorEmail != null" >
        #{creatorEmail,jdbcType=VARCHAR},
      </if>
      <if test="retryTimes != null" >
        #{retryTimes,jdbcType=TINYINT},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="applicationid != null" >
        #{applicationid,jdbcType=VARCHAR},
      </if>
      <if test="elapseTime != null" >
        #{elapseTime,jdbcType=INTEGER},
      </if>
      <if test="scheduleTime != null" >
        #{scheduleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylpu.thales.scheduler.entity.SchedulerJobInstance" >
    update t_thales_scheduler_job_instance
    <set >
      <if test="jobId != null" >
        job_id = #{jobId,jdbcType=INTEGER},
      </if>
      <if test="taskState != null" >
        task_state = #{taskState,jdbcType=TINYINT},
      </if>
      <if test="logUrl != null" >
        log_url = #{logUrl,jdbcType=VARCHAR},
      </if>
      <if test="logPath != null" >
        log_path = #{logPath,jdbcType=VARCHAR},
      </if>
      <if test="worker != null" >
        worker = #{worker,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="creatorEmail != null" >
        creator_email = #{creatorEmail,jdbcType=VARCHAR},
      </if>
      <if test="retryTimes != null" >
        retry_times = #{retryTimes,jdbcType=TINYINT},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="applicationid != null" >
        applicationId = #{applicationid,jdbcType=VARCHAR},
      </if>
      <if test="elapseTime != null" >
        elapse_time = #{elapseTime,jdbcType=INTEGER},
      </if>
      <if test="scheduleTime != null" >
        schedule_time = #{scheduleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylpu.thales.scheduler.entity.SchedulerJobInstance" >
    update t_thales_scheduler_job_instance
    set job_id = #{jobId,jdbcType=INTEGER},
      task_state = #{taskState,jdbcType=TINYINT},
      log_url = #{logUrl,jdbcType=VARCHAR},
      log_path = #{logPath,jdbcType=VARCHAR},
      worker = #{worker,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      creator_email = #{creatorEmail,jdbcType=VARCHAR},
      retry_times = #{retryTimes,jdbcType=TINYINT},
      pid = #{pid,jdbcType=INTEGER},
      applicationId = #{applicationid,jdbcType=VARCHAR},
      elapse_time = #{elapseTime,jdbcType=INTEGER},
      schedule_time = #{scheduleTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id = "updateJobStatus">
    update t_thales_scheduler_job_instance
    set task_state = #{status,jdbcType=TINYINT} 
    where 1=1 
    <if test="ids != null and ids.size > 0">
       and id in
       <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">  
          #{id}
       </foreach>
    </if>
  </update>
  
  <update id="markAsFailed" parameterType="com.ylpu.thales.scheduler.entity.SchedulerJobInstance" >
    update t_thales_scheduler_job_instance
    set task_state = #{taskState,jdbcType=TINYINT},
    schedule_time = #{scheduleTime,jdbcType=TIMESTAMP}
    where job_id = #{jobId,jdbcType=INTEGER} and schedule_time = #{scheduleTime,jdbcType=TIMESTAMP}
  </update>
  
</mapper>